

// 首页样式
.logo {
    display: block;
    height: 50px;
    background: url('http://i2.bvimg.com/622218/1ce34ba3aaadee87.jpg') left center no-repeat;
    background-position: 0 0;
    margin-top: 10px;
}

.branch-title {
    height: 60px;
}

.header_tab {
    margin: 18px 0 0 0;
    line-height: 45px;
    li {
        a {
          display: block;
          font-size: 18px;
          text-align: center;
          height: 45px;
          background-color: #000000;
          color: #ffffff;
          font-weight:bold;
          &:hover {
            background-color: #0D77DA;
          }
        }
        width: 133.6px;
        float: left;
    }
}

.tc{
    background-color: #000000;   
}

.bottom-p{
    line-height: 30px;
    color:#ffffff;
    font-size: 14px;
}

.bottom-img{
    padding-right: 70px;
}

.bottom-img-p{
    color:#ffffff;
    display: inline;
    line-height: 30px;
}

.bottom-img-p-l{
    color:#ffffff;
    display: inline;
    padding: 0px 100px 0 15px;
    line-height: 30px;
    text-align: center;
}


.center{
    padding: 10px 50px 0px 50px;
    background-color: #EFEFEF;
    // .ant-layout-content {
    //     padding: 0px 8px;
    //     border: 1px solid #eee;
    //     border-radius: 10px;
    //     background-color: #fff;
    // }

    // .ant-layout, .ant-layout-sider {
    //     overflow-x: hidden;
    //     overflow-y: hidden;
    //     background-color: #fcfcfc;
    // }

    //   //右侧中心显示区域
    // .content {
    //     padding-left: 10px;
    //     border: 1px solid #eee;
    //     border-radius: 10px;
    //     background-color: #fff;
    //     overflow-x: hidden;
    // }
}



/*覆盖antd样式*/
.ant-layout-header.wrap {
    background-color: #204B78;
    height:127px;
    line-height: 64px;
    // .ant-row {
    //     border-bottom: 1px solid #eee;
    // }
}

