.BranchContainer{
    .ant-menu-submenu-title{
        font-size: 18px;
    }
    .ant-menu-item{
        font-size: 16px;
    }
}


// .ant-menu-submenu-title{
//     font-size: 18px !important;
// }
// .ant-menu-item{
//     font-size: 16px !important;
// }

.ant-menu-inline > .ant-menu-item{
    font-size: 16px !important;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    font-size: 18px !important;
}


.ContentHeader{
    //首页公共栏目头布局
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 8px;
    .span-left{
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        width: 80px;
        line-height: 30px;
        border-bottom: 2px solid #108ee9;
        a {
          color: #0094D0;
        }
    }

    .span-right{
        float: right;
    }
}

//分会介绍
.ContentText{
    h1{
        text-align: center;
    }
    .ContentText_p{
        font-size: 16px;
        text-indent:2em;
        line-height:30px; 
        margin-top:0px;
        color:#000;
    }
}



//组织结构
.OrganizationStr{
    height: 800px;
    img{
        width: 695px;
        height: 439px;
    }
}