.BranchContainer{
    .ant-menu-submenu-title{
        font-size: 18px;
    }
    .ant-menu-item{
        font-size: 16px;
    }
}


// .ant-menu-submenu-title{
//     font-size: 18px !important;
// }
// .ant-menu-item{
//     font-size: 16px !important;
// }

.ant-menu-inline > .ant-menu-item{
    font-size: 16px !important;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    font-size: 18px !important;
}


.ContentHeader{
    //首页公共栏目头布局
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 8px;
    .span-left{
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        width: 80px;
        line-height: 30px;
        border-bottom: 2px solid #108ee9;
        a {
          color: #0094D0;
        }
    }

    .span-right{
        float: right;
    }
}

//分会介绍
.ContentText{
    h1{
        text-align: center;
    }
    .ContentText_p{
        font-size: 16px;
        text-indent:2em;
        line-height:30px; 
        margin-top:0px;
        color:#000;
    }
    img{
        margin: 20px 0px 20px 0px;
        width: 70%;
        height: 70%;
    }
    .ContentText-img{
        text-align: center;
    }
    .ContentText-span{
        text-align: center;
        span{
            font-size: 15px;
            margin: 10px 80px 20px 0px;
        }
    }
}


//学术交流
//1 工作动态
.ContentHolderList{
    font-size: 16px;
    width: 100%;
    span{
        float: right;
    }
    .Row{
        padding: 20px 0px 5px 0px;
    }
    .content-link{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    a{
        text-decoration: none;
        color:#595959;
    }
}


/*
会员服务模块
*/
.passworddiv{
    color: #f04134;
    padding:7px 0 0 0;
    line-height: 5px;
    height: 5px;
}

.avatorImage{
    width: 94px;
    height: 94px;
    margin-top:-20px;
}

