.home {
    margin-bottom: 10px;
    .carousel{
        width: 320px;
        img {
            //float: left;
            width: 100%;
            height: 200px;
        }
    }
    //整体卡片的边距
    .ant-card-body{
        padding: 15px 20px;
    }
}

.home-2-1{
    margin-right: 10px;
    margin-bottom: 10px;
    .ant-card-body{
        padding: 15px 20px;
    }
}

// 控制四块新闻部分，上面两块和下面两块的距离
.row-bottom{
    margin-bottom: 42px;
}