.home {
    margin-bottom: 10px;
    .carousel{
        width: 320px;
        img {
            width: 100%;
            height: 200px;
        }
    }
    //整体卡片的边距
    .ant-card-body{
        padding: 15px 20px;
    }
}

.home-2-1{
    margin-right: 10px;
    margin-bottom: 10px;
    .ant-card-body{
        padding: 15px 20px;
    }
}
