.home {
    margin-bottom: 10px;
    .carousel{
        width: 320px;
        img {
            //float: left;
            width: 100%;
            height: 200px;
        }
    }
    //整体卡片的边距
    .ant-card-body{
        padding: 15px 20px;
    }
}

.home-2-1{
    margin-right: 10px;
    margin-bottom: 10px;
    .ant-card-body{
        padding: 15px 20px;
    }
}

// 控制四块新闻部分，上面两块和下面两块的距离
.row-bottom{
    margin-bottom: 42px;
}


//会员风采模块
.vipshow{
    img{
        margin-top:10px;
        width: 160px;
        height: 180px;
    }
    p{
        padding-Top: 35px;
        font-size: 16px;
    }
}


//科普乐园
.ScienceDomain{
    padding-Top:20px;
    .ScienceDomain-row-1{
        padding-bottom:10px;
    }
    .ScienceDomain-row-2{
        padding-bottom:10px;
    }
    p{
        padding-left:20px;
        margin-top: 4px; 
    }
}


// 分会介绍
.branchIntro{
    p{
        font-size: 16px;
        text-align: center;
        border: 1px solid gray;
        margin: 10px;
    }
}


//可切换头部布局
.SwitchHeader{
    .SwitchHeader-row-1{
        margin-bottom: 10px;
    }
}


//首页轮播大图
.SliderPic{
    img{
        height: 110px;
        width: 720px;
    }
}


//首页会员服务
.MemberServiceDetail {
    padding-left: 25px;
    .MemberServiceDetail-row-1{
        margin-top: 15px; 
        margin-bottom: 15px;
    }
}


//首页会员服务
.member-pic{
    padding-bottom: 10px;
    img{    
        height: 85px;
        width: 180px;
    }
    .pic-top{
        margin-bottom: 10px;
    }
}


.column_header {
    //首页公共栏目头布局
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 8px;
    .column_title{
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        width: 80px;
        line-height: 30px;
        border-bottom: 2px solid #108ee9;
        a {
          color: #0094D0;
        }
    }
    .column_more {
        float: right;
        color: #B0C4DE;
    }
}


.column_header_center {
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 8px;
    text-align: center;
    .column_title{
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        width: 80px;
        line-height: 30px;
        border-bottom: 2px solid #108ee9;
        a {
          color: #0094D0;
        }
    }
    .column_more {
        float: right;
        color: #B0C4DE;
    }
}



